//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 11 19 20:44:52 2024

IO_LOC "ws2812_out_rx" 79;
IO_PORT "ws2812_out_rx" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "tx_empty_led" 19;
IO_PORT "tx_empty_led" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "tx_full_led" 18;
IO_PORT "tx_full_led" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_en[3]" 41;
IO_PORT "Seg_en[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Seg_en[2]" 42;
IO_PORT "Seg_en[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Seg_en[1]" 80;
IO_PORT "Seg_en[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_en[0]" 74;
IO_PORT "Seg_en[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Segment[6]" 86;
IO_PORT "Segment[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Segment[5]" 49;
IO_PORT "Segment[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Segment[4]" 53;
IO_PORT "Segment[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Segment[3]" 85;
IO_PORT "Segment[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Segment[2]" 77;
IO_PORT "Segment[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Segment[1]" 71;
IO_PORT "Segment[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Segment[0]" 72;
IO_PORT "Segment[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Col_Pins[3]" 25;
IO_PORT "Col_Pins[3]" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Col_Pins[2]" 26;
IO_PORT "Col_Pins[2]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Col_Pins[1]" 28;
IO_PORT "Col_Pins[1]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Col_Pins[0]" 27;
IO_PORT "Col_Pins[0]" IO_TYPE=LVCMOS33  DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rs232_tx_pin" 69;
IO_PORT "rs232_tx_pin" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "btn_rd" 88;
IO_PORT "btn_rd" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Rst" 48;
IO_PORT "Rst" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Row_Pins[3]" 73;
IO_PORT "Row_Pins[3]" IO_TYPE=LVCMOS33  BANK_VCCIO=3.3;
IO_LOC "Row_Pins[2]" 31;
IO_PORT "Row_Pins[2]" IO_TYPE=LVCMOS33  BANK_VCCIO=3.3;
IO_LOC "Row_Pins[1]" 30;
IO_PORT "Row_Pins[1]" IO_TYPE=LVCMOS33  BANK_VCCIO=3.3;
IO_LOC "Row_Pins[0]" 29;
IO_PORT "Row_Pins[0]" IO_TYPE=LVCMOS33  BANK_VCCIO=3.3;
IO_LOC "rs232_rx_pin" 70;
IO_PORT "rs232_rx_pin" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "btn_wr" 87;
IO_PORT "btn_wr" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
